*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  height:100%;
}
body{
    background-color:lightcyan;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
nav{
    width:100%;
    height:80px;
    justify-content:flex-end;
    display: flex;
    padding: 35px 5%;
}
nav ul{
    display: flex;
    list-style: none;
  }
  nav ul li{
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
  }
  nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
  img{
    opacity:0.7;
  }
  img:hover{
    opacity:2;
  }
  nav .navlinks button{
    padding: 2px 20px;
    border-radius: 10px;
    color: blue;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
    margin-left: 10px;
  }
  button{
    color:black;
  }
  button:hover{
    background-color:rgb(235, 170, 235);
  }
  nav ul li:hover{
    background-color: rgb(235, 170, 235);
  }
  h1{
    font-size:80px;
    color:mediumseagreen;
    padding:10px;
    margin:15px;
  }
  h3{
    font-size:30px;
    color:olivedrab;
    padding:20px;
    margin:20px;
  }
  h4{
    font-size:30px;
    color:olivedrab;
    padding:10px;
    margin:17px;
  }
  h1::first-letter{
    color:red;
    font-size:larger;
  }
  pre{
    padding:10px;
    margin:10px;
    font-size: 18px;
  }
  div.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  img{  
    border-radius: 50px;
  }
  div.row::after {
    content: "";
    clear: both;
    display: table;
    padding:10px;
    margin:10px;
  }
  @media screen and (max-width: 600px) {
    nav .navlinks{
      display: none;
    }
    .sidenavbar {
      display: block !important;
    }
    img{
      height:150px;
      width:150px;
      border-radius: 40px;
    }
  }
  @media screen and (max-width: 980px) {
    nav .navlinks{
      display: none;
    }
    .sidenavbar {
      display: block !important;
    }
    img{
      height:200px;
      width:200px;
      border-radius: 40px;
    }
  }
  .sidenavbar{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: rgb(44, 1, 197);
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
  }
   
  .sidenavbar a{
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #d1d1d1;
    transition: 0.3s;
    text-decoration: none;
  }
  .sidenavbar a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: blue;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
  }
  .sidenavbar a:hover{
    background-color: white;
    color: black;
  }
  